/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: harryFont;
  src: url(/assets/fonts/HARRYP.TTF);
}


body {
  font-family: harryFont;
  line-height: 1.5;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {

}

.container > h1 {
  font-size: 100px;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  border: 2px solid white;
  padding: 20px;
}

.item > .img {
  background-color: white;
  width: 300px;
  height: 450px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item > .img > img {
  width: 80%;
}

.item > span {
  margin-top: 10px;
  color: white;
  font-size: 30px;
}

dialog {
  border-width: 0;
  background-color: #940101;
}
